{% extends "generic_index.html" %}
{% block content %}
<div class="logo">
<center>
  <ul class="creatures" id="creatures">
    <li>
      <div class="click-anim">
        <figure class="nervous" style="background-color: pink;">
          <div class="eye"></div>
          <div class="eye"></div>
          <div class="mouth"></div>
        </figure>
      </div>
      <div class="shadow" style=""></div>
    </li>
  </ul>
</center>
<p><strong>Hello! Please enter your email below to retrieve your account password.</strong></p>
<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
</form>
</center>
</div>
{% endblock %}
