@import url('https://fonts.googleapis.com/css?family=Sniglet');

body{
	background: #EDBF95;
	color:#3d3d3d;
}

.logo{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:30%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Sniglet';
}

.box{
	padding:24px;
	position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
}

hr{
	border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

a:link, a:visited, a:active {
	color: #F34B4B;
}
