<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Nugget | A virtual Nugget battledome</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/css-creatures.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>


<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Settings</a></li>
  <li><a href="#!">My Account</a></li>
  <li><a href="#!">Help</a></li>
  <li class="divider"></li>
  <li><a href="#!">Logout</a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><img src="img/nugget_logo_sm.png" /></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="home.html">home</a></li>
      <li><a href="nugget.html">my nugget</a></li>
      <li><a href="shop.html">shop</a></li>
      <li><a href="chat.html">chat</a></li>
      <li><a href="battle.html">battle</a></li>
      <li><a href="#"><img src="img/coin.png" style="padding-right:5px;padding-top:5px;" />2,000</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"> <i class="material-icons left">settings</i></a></li>
    </ul>

    <ul class="side-nav" id="mobile-demo">
      <li><a href="home.html">home</a></li>
      <li><a href="nugget.html">my nugget</a></li>
      <li><a href="shop.html">shop</a></li>
      <li><a href="chat.html">chat</a></li>
      <li><a href="battle.html">battle</a></li>
      <li><a href="index.html">logout</a></li>
    </ul>

  </div>
</nav>

<!-- Body Content -->
  <div class="row">
      <div class="col s4">
        <div class="card grey lighten-3">
            <div class="card-content grey-text text-darken-4">
            <span class="card-title">SuperNugg</span>
          <strong>SuperNugg's Stats</strong>
          <ul>
            <li>Health: </li>   <div class="progress"><div class="determinate" style="width: 70%"></div></div>
            <li>Hunger: </li>   <div class="progress"><div class="determinate" style="width: 90%"></div></div>
            <li>Happiness: </li>   <div class="progress"><div class="determinate" style="width: 50%; background-color:orange;"></div></div>
            <li>Battle XP: </li>   <div class="progress"><div class="determinate" style="width: 30%; background-color:red;"></div></div>
          </ul>
            </div>
            <div class="card-action">
              <a href="#">BATTLE ITEMS</a>
            </div>
          </div>
      </div>
      <div class="col s7">
        <center><h4>Battle Center</h4></center>

      <div class="card grey lighten-3">
            <div class="card-content grey-text text-darken-4">
                <span class="card-title"><center>Current Battle</center></span>
                <div class="click-anim">
      <figure class="hungry" style="background-color:palegoldenrod; float: right">
        <div class="eye"></div>
        <div class="eye"></div>
        <div class="mouth"></div>
      </figure>
    </div>
                <figure style="background-color:sandybrown">
                    <div class="eye"></div>
                    <div class="eye"></div>
                    <div class="mouth teeth"></div>
                  </figure>


                <p><center><b>Your opponent's name is Josep.</center></b></p>
            </div>
            <div class="card-action">
              <a href="#">Engage</a>
            </div>
      </div>

      <div class="card grey lighten-3">
            <div class="card-content grey-text text-darken-4">
              <span class="card-title">Your Recent Battles</span>
              <p>This is where you can find information and statistics on your past battles.</p>
                <p><center><b><u>You have no previous battles.</u></b></center></p>
            </div>
            <div class="card-action">
              <a href="#">See More</a>
            </div>
      </div>

      </div>



    </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>

  </body>
</html>
