{% extends "generic_create-a-nugget.html" %} {% load static %}

{% block content %}
<div class="container">
  <center>
    <img src="{% static 'img/nugget_logo_lg.png' %}" />
  </center>
  <p style="text-align: justified;">
    Hey there, and welcome to <strong>Nugget!</strong> Before you can get started, you're going to have to create your <strong>Nugget.</strong> Your <strong>Nugget</strong> is a lovable creature that requires daily attention and lots of commitment! You
    will need to feed your <strong>Nugget,</strong> prep your <strong>Nugget</strong> for battle, earn coins, and play with your <strong>Nugget</strong> to ensure they don't get too bored. It's a real wild ride here in <strong>Nuggetopia!</strong> You'll
    also get the chance to make lots of new friends, and discover new items and bonuses daily. So go ahead and get started below!
  </p>
  <p>
    <center>
      <table>
        <tbody>
          <tr>
            <td>

              <ul class="creatures" id="creatures">
                <li>
                  <div class="click-anim">
                    <figure class="hyper" style="background-color:{{ color }}">
                      <div class="eye"></div>
                      <div class="eye"></div>
                      <div class="mouth"></div>
                    </figure>
                  </div>
                  <div class="shadow"></div>
                </li>
              </ul>

            </td>

            <td style="width:60%;">

                <form method="post">
                  {% csrf_token %}
                  {{ n1.as_p }}
                  {{ n2.as_p }}
                  <!-- Name<br>
                  {{ n1.name }}
                  <br>
                  Size<br>
                  {{ n2.nug_size }}
                  <br>
                  Shape<br>
                  {{ n2.nugget_status }}
                  <br>
            </td>

            <td>
              Eye Shape<br>
              {{ n2.eye_status }}
              Mouth Shape<br>
              {{ n2.mouth_status }}
              Color<br>
              {{ n2.color }} -->
              <button type="submit" class="waves-effect waves-light btn" >Let's Play</button>
            </form>
            </td>
          </div>


          </tr>
      </table>
    </center>
    </table>

  </p>
</div>
{% endblock %}
