<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Nugget | A virtual Nugget battledome</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="{% static 'css/css-creatures.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>


<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Settings</a></li>
  <li><a href="#!">My Account</a></li>
  <li><a href="#!">Help</a></li>
  <li class="divider"></li>
  <li><a href="#!">Logout</a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><img src="{% static 'img/nugget_logo_sm.png' %}" /></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{% url 'home' %}">home</a></li>
      <li><a href="{% url 'nugget' %}">my nugget</a></li>
      <li><a href="{% url 'shop' %}">shop</a></li>
      <li><a href="{% url 'chat' %}">chat</a></li>
      <li><a href="{% url 'battle' %}">battle</a></li>
      <li><a href="#"><img src="{% static 'img/coin.png' %}" style="padding-right:5px;padding-top:5px;" />{% block coins %}{% endblock %}</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"> <i class="material-icons left">settings</i></a></li>
    </ul>

    <ul class="side-nav" id="mobile-demo">
      <li><a href="{% url 'home' %}">home</a></li>
      <li><a href="{% url 'nugget' %}">my nugget</a></li>
      <li><a href="{% url 'shop' %}">shop</a></li>
      <li><a href="{% url 'chat' %}">chat</a></li>
      <li><a href="{% url 'battle' %}">battle</a></li>
      <li><a href="{% url 'index' %}">logout</a></li>
    </ul>

  </div>
</nav>


{% block content %}{% endblock %}

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>


</body>

</html>
