<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Nugget | A virtual Nugget battledome</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/css-creatures.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>


<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Settings</a></li>
  <li><a href="#!">My Account</a></li>
  <li><a href="#!">Help</a></li>
  <li class="divider"></li>
  <li><a href="#!">Logout</a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><img src="img/nugget_logo_sm.png" /></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="home.html">home</a></li>
      <li><a href="nugget.html">my nugget</a></li>
      <li><a href="shop.html">shop</a></li>
      <li><a href="chat.html">chat</a></li>
      <li><a href="battle.html">battle</a></li>
      <li><a href="#"><img src="img/coin.png" style="padding-right:5px;padding-top:5px;" />2,000</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"> <i class="material-icons left">settings</i></a></li>
    </ul>

    <ul class="side-nav" id="mobile-demo">
      <li><a href="home.html">home</a></li>
      <li><a href="nugget.html">my nugget</a></li>
      <li><a href="shop.html">shop</a></li>
      <li><a href="chat.html">chat</a></li>
      <li><a href="battle.html">battle</a></li>
      <li><a href="index.html">logout</a></li>
    </ul>

  </div>
</nav>

<!-- Body Content -->
  <div class="row">
      <div class="col s4">
        <div class="card grey lighten-3">
            <div class="card-content grey-text text-darken-4">
            <span class="card-title">Nugget_Name</span>
            <center>
            <ul class="creatures" id="creatures">
              <li class="nervous">
                <div class="click-anim">
                  <figure style="background-color:sandybrown">
                    <div class="eye"></div>
                    <div class="eye"></div>
                    <div class="mouth teeth"></div>
                  </figure>
                </div>
                <div class="shadow"></div>
              </li>
            </ul>
          </center>
          <strong>Nugget_Name's Stats</strong>
          <ul>
            <li>Health: </li>   <div class="progress"><div class="determinate" style="width: 70%"></div></div>
            <li>Hunger: </li>   <div class="progress"><div class="determinate" style="width: 90%"></div></div>
            <li>Happiness: </li>   <div class="progress"><div class="determinate" style="width: 50%; background-color:orange;"></div></div>
            <li>Battle XP: </li>   <div class="progress"><div class="determinate" style="width: 30%; background-color:red;"></div></div>
          </ul>
            </div>
            <div class="card-action">
              <a href="#">MORE...</a>
            </div>
          </div>
      </div>
      <div class="col s5">
        <center><h4>Welcome back, username!</h4></center>

      <div class="card grey lighten-3">
            <div class="card-content grey-text text-darken-4">
              <span class="card-title"><i class="material-icons">event </i>Nugget Events & Specials</span>
              <p><i class="material-icons" style="font-size: 17px">play_arrow</i>Encourage one of your friends to join Nugget and get a free Halloween costume!</p>
              <p><i class="material-icons" style="font-size: 17px">play_arrow</i>Visit the shop to get 40% off select items for Halloween!</p>
              <p><i class="material-icons" style="font-size: 17px">play_arrow</i>Congratulate your nugget friend <strong>BBQSuace28</strong> on their battle win!</p>
              <p><i class="material-icons" style="font-size: 17px">play_arrow</i>Don't forget to feed your Nugget!</p>
              <p><i class="material-icons" style="font-size: 17px">play_arrow</i>Chat with your friends to stay connected!</p>
              <p><i class="material-icons" style="font-size: 17px">play_arrow</i>A battle a day keeps the doctor away!</p>
              <p><i class="material-icons" style="font-size: 17px">play_arrow</i>Don't forget to feed your Nugget!</p>

            </div>
            <div class="card-action">
              <a href="#">Read More</a>
            </div>
      </div>

      <div class="card grey lighten-3">
            <div class="card-content grey-text text-darken-4">
              <span class="card-title"> <img src="img/HomePage-Icons/boxing-ring%20(1).png">Your Recent Battles</span>
              <table>
                <thead>
                  <tr>
                      <th>Opponent</th>
                      <th>Status</th>
                      <th>Coins</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Frog</td>
                    <td>Lost</td>
                    <td>-573<img src="img/coin.png"></td>
                  </tr>
                  <tr>
                    <td>Tiger</td>
                    <td>Won</td>
                    <td>+750<img src="img/coin.png"></td>
                  </tr>
                  <tr>
                    <td>Monkey</td>
                    <td>Won</td>
                    <td>+863<img src="img/coin.png"></td>
                  </tr>
                </tbody>
              </table>
              <p></p>
            </div>
            <div class="card-action">
              <a href="#">Read More</a>
            </div>
      </div>

      </div>

      <div class="col s3">
        <div class="card grey lighten-3">
              <div class="card-content grey-text text-darken-4">
                <span class="card-title">Friends List</span>


                            <ul class="collection">
                              <li class="collection-item avatar">
                                <img src="img/animal-vector-2/png/cat.png" alt="" class="circle">
                                <span class="title"><strong>Cat</strong></span>
                              </li>
                              <li class="collection-item avatar">
                                <img src="img/animal-vector-2/png/dog.png" alt="" class="circle">
                                <span class="title"><strong>Dog</strong></span>
                              </li>
                              <li class="collection-item avatar">
                                <img src="img/animal-vector-2/png/frog.png" alt="" class="circle">
                                <span class="title"><strong>Frog</strong></span>
                              </li>
                              <li class="collection-item avatar">
                                <img src="img/animal-vector-2/png/koala.png" alt="" class="circle">
                                <span class="title"><strong>Koala</strong></span>
                              </li>
                              <li class="collection-item avatar">
                                <img src="img/animal-vector-2/png/skunk.png" alt="" class="circle">
                                <span class="title"><strong>Skunk</strong></span>
                              </li>
                              <li class="collection-item avatar">
                                <img src="img/animal-vector-2/png/rabbit.png" alt="" class="circle">
                                <span class="title"><strong>Rabbit</strong></span>
                              </li>
                            </ul>
              </div>
              <div class="card-action">
                <a href="#">Read More</a>
              </div>
        </div>
      </div>

    </div>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

  </body>
</html>
