{% extends "index_generic.html" %}

{% block content %}
<div class="logo">
  <center>
  <img src="{% static 'img/nugget_logo_lg.png' %}" /> <br />
      <p>
        <strong>Nugget</strong> is a virtual battledome where you can care for your very own Nugget, earn coins, shop, and battle against other Nuggets!
        Sign up or login below to get started. We are currently in Beta.
      </p>
      <button data-target="signup" class="btn modal-trigger">Sign Up</button>
      <button data-target="login" class="btn modal-trigger">Login</button>
    </center>
</div>

<!-- Sign Up Modal -->
<div id="signup" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Sign Up</h4>
    <p>
    We're so glad you decided to join <strong>Nugget!</strong> We can't wait to get you involved with your new pet Nugget, earn coins, and battle with other Nuggets!<br />
    <br />
    Please enter your information below to get started! Woo-hoo!
    <form class="col">
          Email <input placeholder="you@example.com" id="email" type="text" class="validate">
          Username <input placeholder="Username" id="user" type="text" class="validate">
          Password <input placeholder="Password" id="pswd" type="password" class="validate">
          Confirm Password <input placeholder="Confirm Password" id="pswd_conf" type="password" class="validate">
          Birthdate <input type="text" class="datepicker">
    </form>

    </p>
  </div>
  <div class="modal-footer">
    <a href="{% url 'home' %}" class="modal-action modal-close waves-effect waves-green btn-flat ">Sign Up</a>
  </div>
</div>

<!-- Login Modal -->
<div id="login" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Login</h4>
    <p>
    It's good to see you again! Please enter your login credentials below.
      <form class="col">
        Username <input placeholder="Username" id="user" type="text" class="validate">
        Password <input placeholder="Password" id="pswd" type="password" class="validate">
      </form>
      <a href="#">Forgot Password?</a>
    </p>
  </div>
  <div class="modal-footer">
    <a href="{% url 'home' %}" class="modal-action modal-close waves-effect waves-green btn-flat ">Login</a>
  </div>
</div>
{% endblock %}
