{% extends "shop_generic.html" %}

{% block content %}
<div class="row">
    <div class="col s4">
      <div class="box">
        <h5 style="text-align: center;">Inventory</h5>
        <center>
        <table style="text-align: center;">
          <tbody>
            <tr>
              <td><img src="{% static 'img/food-vector/png/bananas.png' %}" style="height:100px; width:100px;"/>
              <div class="input-field">
              <select>
                <option value="" disabled selected>Amount x25</option>
                <option value="1">Sell</option>
                </select>
              </div>
              </td>
              <td><img src="{% static 'img/food-vector/png/apple.png' %}" style="height:100px; width:100px;"/>
              <div class="input-field">
              <select>
                <option value="" disabled selected>Amount x25</option>
                <option value="1">Sell</option>
                </select>
              </div>
              </td>
            </tr>
            <tr>
              <td><img src="{% static 'img/food-vector/png/strawberry.png' %}" style="height:100px; width:100px;"/>
              <div class="input-field">
              <select>
                <option value="" disabled selected>Amount x25</option>
                <option value="1">Sell</option>
                </select>
              </div>
              </td>
              <td><img src="{% static 'img/food-vector/png/pizza.png' %}" style="height:100px; width:100px;"/>
              <div class="input-field">
              <select>
                  <option value="" disabled selected>Amount x25</option>
                  <option value="1">Sell</option>
                </select>
              </div>
              </td>
            </tr>
          </tbody>
        </table>
        <tfoot>
          Scroll Down  <i class="material-icons">arrow_drop_down</i>
        </tfoot>
        </center>
      </div>
    </div>
<center>
<h1>Shop</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Chicken_icon_05.svg/2000px-Chicken_icon_05.svg.png
" width=300 title="Cluck Cluck!">
<h5>Hello! I'm Mother Nugget, These are today's Specials!</h5>
</center>
</div>

<div class="row">
<div class="col s10 offset-s1">
<div class="card">
  <br>
   <div class="card-tabs">
     <ul class="tabs tabs-fixed-width">
       <li class="tab"><a class="active" href="#test4"><i class="material-icons left">restaurant</i>FOOD</a></li>
       <li class="tab"><a href="#test5"><i class="material-icons left">beach_access</i>ACCESSORIES</a></li>
       <li class="tab"><a href="#test6"><i class="material-icons left">whatshot</i>BATTLE</a></li>
       <li class="tab"><a href="#test7"><i class="material-icons left">toys</i>TOYS</a></li>
     </ul>
   </div>
   <div class="card-content grey lighten-4">

     <div id="test4">
       <table style="text-align: center;">
       <tbody>
         <tr>
           <td><center>Banana<br><br><img src="{% static 'img/food-vector/png/bananas.png' %}" style="height:100px; width:100px;"/>
             <br><br>
           <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
         </center>
           </td>
           <td><center>Pear<br><br><img src="{% static 'img/food-vector/png/pear.png' %}" style="height:100px; width:100px;"/>
             <br><br>
           <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
         </center>
           </td>
           <td><center>Apple<br><br><img src="{% static 'img/food-vector/png/apple.png' %}" style="height:100px; width:100px;"/>
             <br><br>
           <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
         </center>
           </td>
         </tr>
           <tr>
             <td><center>Milk<br><br><img src="{% static 'img/food-vector/png/milk.png' %}" style="height:100px; width:100px;"/>
               <br><br>
             <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
           </center>
             </td>
             <td><center>Carrot<br><br><img src="{% static 'img/food-vector/png/carrot.png' %}" style="height:100px; width:100px;"/>
               <br><br>
             <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
           </center>
             </td>
             <td><center>Ice Cream<br><br><img src="{% static 'img/food-vector/png/ice-cream.png' %}" style="height:100px; width:100px;"/>
               <br><br>
             <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
           </center>
             </td>
           </tr>
       </tbody>
     </table>
       </div>
     </div>

     <div id="test5">
       <table style="text-align: center;">
       <tbody>
         <tr>
           <td><center>Hat<br><br><img src="{% static 'img/QuestionMark.png' %}" style="height:100px; width:100px;"/>
             <br><br>
           <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
         </center>
           </td>
           <td><center>Glasses<br><br><img src="{% static 'img/QuestionMark.png' %}" style="height:100px; width:100px;"/>
             <br><br>
           <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
         </center>
           </td>
           <td><center>Fake Moustache<br><br><img src="{% static 'img/QuestionMark.png' %}" style="height:100px; width:100px;"/>
             <br><br>
           <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
         </center>
           </td>
         </tr>
           <tr>
             <td><center>Necklace<br><br><img src="{% static 'img/QuestionMark.png' %}" style="height:100px; width:100px;"/>
               <br><br>
             <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
           </center>
             </td>
             <td><center>Wig<br><br><img src="{% static 'img/QuestionMark.png' %}" style="height:100px; width:100px;"/>
               <br><br>
             <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
           </center>
             </td>
             <td><center>Mask<br><br><img src="{% static 'img/QuestionMark.png' %}" style="height:100px; width:100px;"/>
               <br><br>
             <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
           </center>
             </td>
           </tr>
       </tbody>
     </table>
     </div>
</div>

     <div id="test6">
       <table style="text-align: center;">
       <tbody>
         <tr>
           <td><center>Sword<br><br><img src="{% static 'img/QuestionMark.png' %}" style="height:100px; width:100px;"/>
             <br><br>
           <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
         </center>
           </td>
           <td><center>Police Baton<br><br><img src="{% static 'img/QuestionMark.png' %}" style="height:100px; width:100px;"/>
             <br><br>
           <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
         </center>
           </td>
           <td><center>Chicken Bone<br><br><img src="{% static 'img/QuestionMark.png' %}" style="height:100px; width:100px;"/>
             <br><br>
           <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
         </center>
           </td>
         </tr>
           <tr>
             <td><center>Ketchup<br><br><img src="{% static 'img/QuestionMark.png' %}" style="height:100px; width:100px;"/>
               <br><br>
             <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
           </center>
             </td>
             <td><center>Axe<br><br><img src="{% static 'img/QuestionMark.png' %}" style="height:100px; width:100px;"/>
               <br><br>
             <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
           </center>
             </td>
             <td><center>Shield<br><br><img src="{% static 'img/QuestionMark.png' %}" style="height:100px; width:100px;"/>
               <br><br>
             <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
           </center>
             </td>
           </tr>
       </tbody>
     </table>
     </div>

     <div id="test7">
       <table style="text-align: center;">
       <tbody>
         <tr>
           <td><center>Tennis Ball<br><br><img src="{% static 'img/QuestionMark.png' %}" style="height:100px; width:100px;"/>
             <br><br>
           <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
         </center>
           </td>
           <td><center>Pin Wheel<br><br><img src="{% static 'img/QuestionMark.png' %}" style="height:100px; width:100px;"/>
             <br><br>
           <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
         </center>
           </td>
           <td><center>Doll<br><br><img src="{% static 'img/QuestionMark.png' %}" style="height:100px; width:100px;"/>
             <br><br>
           <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
         </center>
           </td>
         </tr>
           <tr>
             <td><center>Stuffed Animal<br><br><img src="{% static 'img/QuestionMark.png' %}" style="height:100px; width:100px;"/>
               <br><br>
             <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
           </center>
             </td>
             <td><center>Soccer Ball<br><br><img src="{% static 'img/QuestionMark.png' %}" style="height:100px; width:100px;"/>
               <br><br>
             <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
           </center>
             </td>
             <td><center>Fidget Spinner<br><br><img src="{% static 'img/QuestionMark.png' %}" style="height:100px; width:100px;"/>
               <br><br>
             <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
           </center>
             </td>
           </tr>
       </tbody>
     </table>
     </div>
   </div>
 </div>
{% endblock %}
