{% extends "generic_base.html" %} {% load static %} {% block content %}
<div class="row">
  <div class="col s4">
    <div class="box">
      <h5 style="text-align: center;">Inventory</h5>
      <center>
        <table style="text-align: center;">
          <tbody>
            <tr>
              <td><img src="{% static 'img/food-vector/png/bananas.png' %}" style="height:100px; width:100px;" />
                <div class="input-field">
                  <select>
                <option value="" disabled selected>Amount x25</option>
                <option value="1">Sell</option>
                </select>
                </div>
              </td>
              <td><img src="{% static 'img/food-vector/png/apple.png' %}" style="height:100px; width:100px;" />
                <div class="input-field">
                  <select>
                <option value="" disabled selected>Amount x25</option>
                <option value="1">Sell</option>
                </select>
                </div>
              </td>
            </tr>
            <tr>
              <td><img src="{% static 'img/food-vector/png/strawberry.png' %}" style="height:100px; width:100px;" />
                <div class="input-field">
                  <select>
                <option value="" disabled selected>Amount x25</option>
                <option value="1">Sell</option>
                </select>
                </div>
              </td>
              <td><img src="{% static 'img/food-vector/png/pizza.png' %}" style="height:100px; width:100px;" />
                <div class="input-field">
                  <select>
                  <option value="" disabled selected>Amount x25</option>
                  <option value="1">Sell</option>
                </select>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <tfoot>
          Scroll Down <i class="material-icons">arrow_drop_down</i>
        </tfoot>
      </center>
    </div>
  </div>
  <center>
    <h1>Shop</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Chicken_icon_05.svg/2000px-Chicken_icon_05.svg.png
" width=300 title="Cluck Cluck!">
    <h5>Hello! I'm Mother Nugget, These are today's Specials!</h5>
  </center>
</div>

<div class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <br>
      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
          <li class="tab"><a class="active" href="#food"><i class="material-icons left">restaurant</i>FOOD</a></li>
          <li class="tab"><a href="#access"><i class="material-icons left">beach_access</i>ACCESSORIES</a></li>
          <li class="tab"><a href="#battle"><i class="material-icons left">whatshot</i>BATTLE</a></li>
          <li class="tab"><a href="#toys"><i class="material-icons left">toys</i>TOYS</a></li>
        </ul>
      </div>
      <div class="card-content grey lighten-4">

        <div id="food">
          <table style="text-align: center;">
            <tbody>

              <script type="text/javascript">
                var items = String("{{ items }}");
                items = items.replace("[","");
                items = items.replace("]","");

                var itemArray = items.split(",");
                for (var i = 0; i < itemArray.length; i++){
                  itemArray[i] = itemArray[i].replace(/&#39;/g, "");
                  itemArray[i] = itemArray[i].replace(" ", "");

                  switch(itemArray[i]){
                    case "apple":
                      document.write('<img src="&#123;% static &#39;img/food-vector/png/apple.png&#39; %&#125;"><br><br><a class="btn" onclick="Materialize.toast(&#39;You just bought an Apple!&#39;, 3000, &#39;rounded&#39;)">BUY</a>');
                      break;
                    case "banana":
                      document.write('<img src="&#123;% static &#39;img/food-vector/png/bananas.png&#39; %&#125;"><br><br><a class="btn" onclick="Materialize.toast(&#39;You just bought a Banana!&#39;, 3000, &#39;rounded&#39;)">BUY</a>');
                      break;
                  }

                  document.write("<br>");

                }

              </script>



              <!-- <tr>
                <td>
                  <center>Banana<br><br><img src="{% static 'img/food-vector/png/bananas.png' %}" style="height:100px; width:100px;" />
                    <br><br>
                    <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
                  </center>
                </td>
                <td>
                  <center>Pear<br><br><img src="{% static 'img/food-vector/png/pear.png' %}" style="height:100px; width:100px;" />
                    <br><br>
                    <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
                  </center>
                </td>
                <td>
                  <center>Apple<br><br><img src="{% static 'img/food-vector/png/apple.png' %}" style="height:100px; width:100px;" />
                    <br><br>
                    <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
                  </center>
                </td>
              </tr>
              <tr>
                <td>
                  <center>Milk<br><br><img src="{% static 'img/food-vector/png/milk.png' %}" style="height:100px; width:100px;" />
                    <br><br>
                    <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
                  </center>
                </td>
                <td>
                  <center>Carrot<br><br><img src="{% static 'img/food-vector/png/carrot.png' %}" style="height:100px; width:100px;" />
                    <br><br>
                    <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
                  </center>
                </td>
                <td>
                  <center>Ice Cream<br><br><img src="{% static 'img/food-vector/png/ice-cream.png' %}" style="height:100px; width:100px;" />
                    <br><br>
                    <a class="btn" onclick="Materialize.toast('You just bought an ITEM!', 3000, 'rounded')">BUY</a>
                  </center>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>

      <div id="access">
        <table style="text-align: center;">
          <tbody>
            <tr>
                <td>
                  <center>Coming Soon!</center>
                </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="battle">
        <table style="text-align: center;">
          <tbody>
            <tr>
                <td>
                  <center>Coming Soon!</center>
                </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="toys">
        <table style="text-align: center;">
          <tbody>
            <tr>
                <td>
                  <center>Coming Soon!</center>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
{% endblock %}
