{% extends "generic_base.html" %} {% load static %}

{% block coins %}{{ coins }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col s4">
    <div class="card grey lighten-3">
      <div class="card-content grey-text text-darken-4">
        <span class="card-title">{{ nugget }}</span>
        <strong>{{ nugget }}'s Stats</strong>
        <ul>
          <li>Health: </li>
          <div class="progress">
            <div class="determinate" style="width: {{ health }}%; background-color:{{ health_color }}"></div>
          </div>
          <li>Hunger: </li>
          <div class="progress">
            <div class="determinate" style="width: {{ hunger }}%; background-color:{{ hunger_color }}"></div>
          </div>
          <li>Happiness: </li>
          <div class="progress">
            <div class="determinate" style="width: {{ happiness }}%; background-color:{{ happiness_color }};"></div>
          </div>
          <li>Battle XP: </li>
          <div class="progress">
            <div class="determinate" style="width: {{ battle_XP }}%; background-color:{{ battle_XP_color }};"></div>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="col s7">
    <center>
      <h4>Battle Center</h4></center>

    <div class="card grey lighten-3">
      <div class="card-content grey-text text-darken-4">
        <span class="card-title"><center>Current Battle</center></span>


        <table>
        <tr>
        <td>

        <ul class="creatures" id="creatures">
          <li>
            <div class="click-anim">
              <figure class="{{ mouth }}" style="background-color: {{ color }}">
                <div class="eye"></div>
                <div class="eye"></div>
                <div class="mouth"></div>
              </figure>
            </div>
            <div class="shadow" style=""></div>
          </li>
        </ul>

      </td>
      <td>

        <form method="post">
          {% csrf_token %}
          {{ newBattle.as_p }}
          <button type="submit" class="waves-effect waves-light btn" >New Battle</button>
        </form>
      </td>
    </tr>
  </table>
      </div>
    </div>

    <div class="card grey lighten-3">
      <div class="card-content grey-text text-darken-4">
        <span class="card-title"> <img src="{% static 'img/HomePage-Icons/boxing-ring.png' %}">Your Recent Battles</span>
        <table>
          <thead>
            <tr>
              <th>Opponent</th>
              <th>Coins</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            <script type="text/javascript">
              var battles = String("{{ battles }}");
              battles = battles.replace(/[\[\]']+/g,"");
              battles = battles.replace(/&#39;/g, "");
              var battleArray = battles.split(",");
              for (var i = 0; i < battleArray.length; i++){
                toOutput = "";
                toOutput += "<tr><td>";
                toOutput += battleArray[i];
                toOutput += "</td><td>";
                toOutput += battleArray[i + 1];
                toOutput += "</td><td>";
                toOutput += battleArray[i + 2];
                toOutput += "</td></tr>";
                document.write(toOutput);
                i = i + 2;
              }
            </script>
          </tbody>
        </table>
        <p></p>
      </div>
    </div>

  </div>
</div>
{% endblock %}
