{% extends "generic_base.html" %} {% load static %}

{% block coins %}{{ coins }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col s4">
    <div class="card grey lighten-3">
      <div class="card-content grey-text text-darken-4">
        <span class="card-title">{{ nugget }}</span>
        <strong>{{ nugget }}'s Stats</strong>
        <ul>
          <li>Health: </li>
          <div class="progress">
            <div class="determinate" style="width: {{ health }}%; background-color:{{ health_color }}"></div>
          </div>
          <li>Hunger: </li>
          <div class="progress">
            <div class="determinate" style="width: {{ hunger }}%; background-color:{{ hunger_color }}"></div>
          </div>
          <li>Happiness: </li>
          <div class="progress">
            <div class="determinate" style="width: {{ happiness }}%; background-color:{{ happiness_color }};"></div>
          </div>
          <li>Battle XP: </li>
          <div class="progress">
            <div class="determinate" style="width: {{ battle_XP }}%; background-color:{{ battle_XP_color }};"></div>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="col s7">
    <center>
      <h4>Battle Center</h4></center>

    <div class="card grey lighten-3">
      <div class="card-content grey-text text-darken-4">
        {% if health <= 10 %} <span class="card-title"><center>You're not well enough...</center></span>
        {% elif active == 0 %}<span class="card-title"><center>New Battle</center></span>
        {% elif active == 1 %}<span class="card-title"><center>Pending Battle</center></span>
        <center><strong style="font-size:20px;">{{ nugget }} vs. {{ opp.name }}</strong></center>
        {% elif active == 2 %}<span class="card-title"><center>Battle Results</center></span>
        {% else %} <span class="card-title"><center>New Battle Request</center></span>
        <center><strong style="font-size:20px;">{{ nugget }} vs. {{ opp.name }}</strong></center>
        {% endif %}


        <table>
        <tr>
        <td>
          <center>
          <ul class="creatures" id="creatures">
            <li>
              <div class="click-anim">
                <figure class="{{ mouth }}" style="background-color: {{ color }}; width:{{ size_w }}px; height:{{ size_h }}px">
                  <div class="eye" style="width:{{ eye_size_w }}px; height:{{ eye_size_h }}px"></div>
                  <div class="eye" style="width:{{ eye_size_w }}px; height:{{ eye_size_h }}px"></div>
                  <div class="mouth"></div>
                </figure>
              </div>
              <div class="shadow" style="width: {{ size_w}}px"></div>
            </li>
          </ul>
        </center>
      </td>
      <td>
      {% if health <= 10 %}
      <ul class="creatures" id="creatures">
        <li>
          <div class="click-anim">
            <figure class="{{ oppAtt.mouth }}" style="background-color: {{ oppAtt.color }}; width:{{ size_w_opp }}px; height:{{ size_h_opp }}px">
              <div class="eye" style="width:{{ eye_size_w_opp }}px; height:{{ eye_size_h_opp }}px"></div>
              <div class="eye" style="width:{{ eye_size_w_opp }}px; height:{{ eye_size_h_opp }}px"></div>
              <div class="mouth"></div>
            </figure>
          </div>
          <div class="shadow" style="width: {{ size_w_opp }}px;"></div>
        </li>
      </ul>
    </td>
    <td>
      <b>{{ nugget }}</b> doesn't look too good... maybe you should head to the Shop or your Inventory and increase their health.
    </td>
      {% else %}
      {% if active == 0 %}
        <form method="post">
          {% csrf_token %}
          {{ battleForm.as_p }}
          <button type="submit" class="waves-effect waves-light btn" >New Battle</button>
        </form>
      {% elif active == 1 %}
      <ul class="creatures" id="creatures">
        <li>
          <div class="click-anim">
            <figure class="{{ oppAtt.mouth }}" style="background-color: {{ oppAtt.color }}; width:{{ size_w_opp }}px; height:{{ size_h_opp }}px">
              <div class="eye" style="width:{{ eye_size_w_opp }}px; height:{{ eye_size_h_opp }}px"></div>
              <div class="eye" style="width:{{ eye_size_w_opp }}px; height:{{ eye_size_h_opp }}px"></div>
              <div class="mouth"></div>
            </figure>
          </div>
          <div class="shadow" style="width: {{ size_w_opp }}px;"></div>
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td colspan=2>
      <center>
          You requested a battle against <strong>{{ currBattle.opp_b }}</strong>, which is pending! Hopefully
          their Nugget, <strong>{{ opp.name }}</strong>, is well rested and prepared for what's about to come...
      </center>
      {% elif active == 2 %}
          {% if currBattle.winner == user %}
            <span style="font-weight: bold; color: green;">{{ nugget }} won!</span> Congratulations! <br>
            Below is your battle summary...<br><br>
          {% else %}
            <span style="font-weight: bold; color: red;">{{ nugget }} lost!</span> Better luck next time...<br>
            Below is your battle summary...<br><br>
          {% endif %}

          {% if currBattle.opp_a == user %}
            {% if currBattle.winner == user %}
            <script type="text/javascript">
              var stats = String("{{ currBattle.stats_a }}");
              var arr = stats.split(',');
              document.write("<strong style='color: red;'>-" + String(arr[0]) + "</strong> Health!<br>");
              document.write("<strong style='color: red;'>-" + String(arr[1]) + "</strong> Hunger!<br>");
              document.write("<strong style='color: red;'>-" + String(arr[2]) + "</strong> Defense!<br>");
              document.write("<strong style='color: green;'>+" + String(arr[3]) + "</strong> Battle XP!<br>");
              document.write("<strong style='color: green;'>+" + String(0) + "</strong> Intelligence!<br>");
              document.write("<strong style='color: green;'>+" + String(arr[4]) + "</strong> Happiness!<br><br>");
            </script>
            {% else %}
            <script type="text/javascript">
              var stats = String("{{ currBattle.stats_a }}");
              var arr = stats.split(',');
              document.write("<strong style='color: red;'>-" + String(arr[0]) + "</strong> Health!<br>");
              document.write("<strong style='color: red;'>-" + String(arr[1]) + "</strong> Hunger!<br>");
              document.write("<strong style='color: red;'>-" + String(arr[2]) + "</strong> Defense!<br>");
              document.write("<strong style='color: green;'>+" + String(arr[3]) + "</strong> Battle XP!<br>");
              document.write("<strong style='color: red;'>-" + String(0) + "</strong> Intelligence!<br>");
              document.write("<strong style='color: red;'>-" + String(arr[4]) + "</strong> Happiness!<br><br>");
            </script>
            {% endif %}
          {% else %}
            {% if currBattle.winner == user %}
            <script type="text/javascript">
              var stats = String("{{ currBattle.stats_b }}");
              var arr = stats.split(',');
              document.write("<strong style='color: red;'>-" + String(arr[0]) + "</strong> Health!<br>");
              document.write("<strong style='color: red;'>-" + String(arr[1]) + "</strong> Hunger!<br>");
              document.write("<strong style='color: red;'>-" + String(arr[2]) + "</strong> Defense!<br>");
              document.write("<strong style='color: green;'>+" + String(arr[3]) + "</strong> Battle XP!<br>");
              document.write("<strong style='color: green;'>+" + String(0) + "</strong> Intelligence!<br>");
              document.write("<strong style='color: green;'>+" + String(arr[4]) + "</strong> Happiness!<br><br>");
            </script>
            {% else %}
            <script type="text/javascript">
              var stats = String("{{ currBattle.stats_b }}");
              var arr = stats.split(',');
              document.write("<strong style='color: red;'>-" + String(arr[0]) + "</strong> Health!<br>");
              document.write("<strong style='color: red;'>-" + String(arr[1]) + "</strong> Hunger!<br>");
              document.write("<strong style='color: red;'>-" + String(arr[2]) + "</strong> Defense!<br>");
              document.write("<strong style='color: green;'>+" + String(arr[3]) + "</strong> Battle XP!<br>");
              document.write("<strong style='color: red;'>-" + String(0) + "</strong> Intelligence!<br>");
              document.write("<strong style='color: red;'>-" + String(arr[4]) + "</strong> Happiness!<br><br>");
            </script>
            {% endif %}
          {% endif %}





          <form method="post">
            {% csrf_token %}
            {{ battleForm.as_p }}
            <button type="submit" class="waves-effect waves-light btn" >Find New Battle</button>
      {% else %}

      <ul class="creatures" id="creatures">
        <li>
          <div class="click-anim">
            <figure class="{{ oppAtt.mouth }}" style="background-color: {{ oppAtt.color }}; width:{{ size_w_opp }}px; height:{{ size_h_opp }}px">
              <div class="eye" style="width:{{ eye_size_w_opp }}px; height:{{ eye_size_h_opp }}px"></div>
              <div class="eye" style="width:{{ eye_size_w_opp }}px; height:{{ eye_size_h_opp }}px"></div>
              <div class="mouth"></div>
            </figure>
          </div>
          <div class="shadow" style="width: {{ size_w_opp }}px;"></div>
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td colspan=2>
      <center>
          <strong>{{ currBattle.opp_a }}</strong> sent you a new battle request!<br>
          Think <strong>{{ nugget }}</strong> is up to the challenge?



      <form method="post">
        {% csrf_token %}
        {{ battleForm.as_p }}
        <button type="submit" class="waves-effect waves-light btn" >Send</button>
      </form>
      {% endif %}
    {% endif %}
    </center>
      </td>
    </tr>
  </table>
      </div>
    </div>

    <div class="card grey lighten-3">
      <div class="card-content grey-text text-darken-4">
        <span class="card-title"> <img src="{% static 'img/battle/boxing-ring.png' %}">Your Recent Battles</span>
        <table>
          <thead>
            <tr>
              <th>Opponent</th>
              <th>Coins</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            <script type="text/javascript">
              var battles = String("{{ battles }}");
              battles = battles.replace(/[\[\]']+/g,"");
              battles = battles.replace(/&#39;/g, "");
              var battleArray = battles.split(",");
              for (var i = 0; i < battleArray.length; i++){
                toOutput = "";
                toOutput += "<tr><td>";
                toOutput += battleArray[i];
                toOutput += "</td><td>";
                toOutput += battleArray[i + 1];
                toOutput += "</td><td>";
                toOutput += battleArray[i + 2];
                toOutput += "</td></tr>";
                document.write(toOutput);
                i = i + 2;
              }
            </script>
          </tbody>
        </table>
        <p></p>
      </div>
    </div>

  </div>
</div>
{% endblock %}
