{% extends "generic_base.html" %} {% load static %}

{% block coins %}{{ coins }}{% endblock %}

{% block content %}
<div class="row">
  <div class="input-field">
    <input id="search" type="search" required>
    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
    <i class="material-icons">close</i>
  </div>
  <div class="col s4 offset-s1">
    <div class="card grey lighten-3">
      <div class="card-content grey-text text-darken-4">
        <h4 align="center">friendos!</h4>
        <ul class="collection">
          <script type="text/javascript">
            var friends = String("{{ friends }}");
            if (friends == "None") {
              document.write("You don't have friends");
            }
            else {
              friends = friends.replace(/[\[\]']+/g,"");
              friends = friends.replace(/&#39;/g, "");
              var friendsArray = friends.split(",");
              for (var i = 0; i < friendsArray.length; i++){
                toOutput = "<li class='collection-item avatar'>";
                toOutput += "<img src = '{% static 'img/Resource Files/animal-vector-2/png/cat.png' %}' alt='' class='circle'>";
                toOutput += "<span class='title'><strong>";
                toOutput += friendsArray[i];
                toOutput += "</strong></span><p>What's up? <br><i>5:00 am</i></p>";
                document.write(toOutput);
              }
            }
          </script>
        </ul>
      </div>
    </div>
  </div>

  <div class="col s6">
    <div class="card grey lighten-3">
      <div class="card-content grey-text text-darken-4">
        <ul class="collection">
          <li class="collection-item avatar" align="center">
            <img src="{% static 'img/Resource Files/animal-vector-2/png/cat.png' %}" alt="" class="circle">
            <span class="title"><strong>FRIENDS NAME HERE (LALA)</strong></span><br>
            <a href="{% url 'profile' username='testuser' %}"><strong>View Profile</strong></span>
          </li>
        </ul>
        <div class="card-content grey-text text-darken-6">
          <ul class="collection">
            <li class="collection-item avatar">
              <img src="{% static 'img/Resource Files/animal-vector-2/png/cat.png' %}" alt="" class="circle">
              <p>I'm about to log off for the night</p>
            </li>
            <li class="collection-item avatar">
              <img src="{% static 'img/animal-vector-2/png/wolf.png' %}" alt="" class="circle">
              <p>Alright, will you be on tomorrow?</p>
            </li>
            <li class="collection-item avatar">
              <img src="{% static 'img/animal-vector-2/png/koala.png' %}" alt="" class="circle">
              <p>Of course, talk later!</p>
            </li>
            <li class="collection-item avatar">
              <img src="{% static 'img/animal-vector-2/png/wolf.png' %}" alt="" class="circle">
              <p>Byeeee</p>
            </li>
            <li class="collection-item avatar">
              <img src="{% static 'img/animal-vector-2/png/koala.png' %}" alt="" class="circle">
              <p>Chat me when you're on!</p>
            </li>
          </ul>
          <div class="input-field">
            <input id="text" type="text" placeholder="chat here!" required>
            <label class="label-icon" for="text"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
