{% extends "generic_create-a-nugget.html" %} {% load static %}
{% block content %}
<div class="container">
  <center>
    <img src="{% static 'img/nugget_logo_lg.png' %}" />
  </center>
  <p style="text-align: justified;">
    Hey there, and welcome to <strong>Nugget!</strong> Before you can get started, you're going to have to create your <strong>Nugget.</strong> Your <strong>Nugget</strong> is a lovable creature that requires daily attention and lots of commitment! You
    will need to feed your <strong>Nugget,</strong> prep your <strong>Nugget</strong> for battle, earn coins, and play with your <strong>Nugget</strong> to ensure they don't get too bored. It's a real wild ride here in <strong>Nuggetopia!</strong> You'll
    also get the chance to make lots of new friends, and discover new items and bonuses daily. So go ahead and get started below!
  </p>
  <p>
    <center>
      <table>
        <tbody>
          <tr>
            <td>

              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
              <script>

              $(function(){

                $("#evt_color").change(function() {
                    $("figure").css("background-color", $(this).val());
                }).change();

                $("#evt_mouth").change(function() {
                    $("figure").attr('class', $(this).val());
                }).change();

                $("#eyesize").change(function() {
                    $(".eye").css('width', $(this).val()*.75);
                    $(".eye").css('height', $(this).val());
                }).change();

                $("#shape").change(function() {
                  if($(this).val() == 'c'){
                    $("figure").css('width', 200);
                    $("figure").css('height', 200);
                    //$("div#shadow").width('90%');
                    $("#shadow").css('width', '80%');
                  }
                  else{
                    $("figure").css('width', 160);
                    $("figure").css('height', 200);
                    //$("div#shadow").width('60%');
                    $("#shadow").css('width', '60%');
                  }
                }).change();

              });

              </script>

              <ul class="creatures" id="creatures">
                <li>
                  <div class="click-anim">
                    <figure class="hungry" style="">
                      <div class="eye" style=""></div>
                      <div class="eye" style=""></div>
                      <div class="mouth">
                      </div>
                    </figure>
                  </div>
                  <div class="shadow" style=""></div>
                </li>
              </ul>

            </td>

            <td style="width:60%;">

                <form method="post">
                  {% csrf_token %}
                  {{ n1.as_p }}
                  {{ n2.as_p }}
              <button type="submit" class="waves-effect waves-light btn" >Let's Play</button>
            </form>
            </td>
          </div>


          </tr>
      </table>
    </center>
    </table>

  </p>
</div>
{% endblock %}
