{% extends "generic_base.html" %} {% load static %}

{% block coins %}{{ coins }}{% endblock %}

{% block content %}
<div class="container">
  <h1>My Account</h1>
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">favorite_border</i>Account Summary</div>
      <div class="collapsible-body" style="background-color:#e8e8e8;"><span>Summary Info Here. Summary would probably include things like
      displaying user information, Name, DOB, etc </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">favorite_border</i>Change Email</div>
      <div class="collapsible-body" style="background-color:#e8e8e8;"><span>Allow user to change email</strong></span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">favorite_border</i>Change Password</div>
      <div class="collapsible-body" style="background-color:#e8e8e8;"><span>Allow user to change password</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">favorite_border</i>Delete Account</div>
      <div class="collapsible-body" style="background-color:#e8e8e8;"><span>Delete User Account</span></div>
    </li>
  </ul>
</div>

{% endblock %}
