{% extends "generic_base.html" %} {% load static %}

{% block coins %}{{ coins }}{% endblock %}

{% block content %}
<div class="container">
  <h1>My Account</h1>
  Welcome to the FAQ! Hopefully, the all the answers to your questions reside within this page. If you can't find what you're looking for,
   feel free to reach out to our developers at <a href="mailto:admin@mynugget.io">admin@mynugget.io</a>.
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">favorite_border</i>How did Nugget come about?</div>
      <div class="collapsible-body" style="background-color:#e8e8e8;"><span>Nugget is the result of a semester long project for a web programming course at the
      University of Massachusetts, Amherst. The OG team consisted of 6 undergraduate developers. </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">favorite_border</i>What is Nugget?</div>
      <div class="collapsible-body" style="background-color:#e8e8e8;"><span>Nugget is a virtual pet battledome, where users can customize their own pet Nugget and battle with other plays.
      You can shop for more items and increase your Nugget's statistics. <strong>Nugget is currently in Beta.</strong></span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">favorite_border</i>How do I take care of my Nugget?</div>
      <div class="collapsible-body" style="background-color:#e8e8e8;"><span>You can care for your Nugget by feeding your Nugget, spending time in the Battledome versing other players. Nuggets love
      to eat, and they love to battle!</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">favorite_border</i>Can my Nugget die?</div>
      <div class="collapsible-body" style="background-color:#e8e8e8;"><span>As of now, your Nugget can not die. (That doesn't mean it won't change in the future!)</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">favorite_border</i>Can I change my Nugget?</div>
      <div class="collapsible-body" style="background-color:#e8e8e8;"><span>Would you change your child? I hope that answers your question.</span></div>
    </li>
  </ul>
</div>

{% endblock %}
