{% extends "generic_base.html" %} {% load static %}

{% block coins %}{{ coins }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s3">
      <div class="card grey lighten-3">
        <div class="card-content grey-text text-darken-4">
          <span class="card-title">Physical Statistics{{ inventory }}</span>
          <ul>
            <li>Health: </li>
            <div class="progress">
              <div class="determinate" style="width: {{ health }}%; background-color:{{ health_color }}"></div>
            </div>
            <li>Hunger: </li>
            <div class="progress">
              <div class="determinate" style="width: {{ hunger }}%; background-color:{{ hunger_color }}"></div>
            </div>
            <li>Defense: </li>
            <div class="progress">
              <div class="determinate" style="width: {{ defense }}%; background-color:{{ defense_color }};"></div>
            </div>
            <li>Battle XP: </li>
            <div class="progress">
              <div class="determinate" style="width: {{ battle_XP }}%; background-color:{{ battle_XP_color }};"></div>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s6">
      <center>
        <h1>{{ nugget }}</h1>
        <ul class="creatures" id="creatures">
          <li>
            <div class="click-anim">
              <figure class="{{ mouth }}" style="background-color: {{ color }}; width:{{ size_w }}px; height:{{ size_h }}px">
                <div class="eye" style="width:{{ eye_size_w }}px; height:{{ eye_size_h }}px"></div>
                <div class="eye" style="width:{{ eye_size_w }}px; height:{{ eye_size_h }}px"></div>
                <div class="mouth"></div>
              </figure>
            </div>
            <div class="shadow" style=""></div>
          </li>
        </ul>
        <h5><script id = "RanGreet">
          r_text = new Array ();
          r_text[0] = "I was thinking of you."
          r_text[1] = "I'm glad you're back."
          r_text[3] = "Let's battle!"
          r_text[4] = "Wheee! So happy to see youuuuuu!"
          var i = Math.floor((r_text.length) * Math.random());
          if(r_text[i] == null){
            document.write(r_text[0]);
          }
          else {
            document.write(r_text[i]);
          }
        </script></h5>
        <br />
      </center>
    </div>
    <div class="col s3">
      <div class="card grey lighten-3">
        <div class="card-content grey-text text-darken-4">
          <span class="card-title">Mental Statistics</span>
          <ul>
            <li>Fatigue: </li>
            <div class="progress">
              <div class="determinate" style="width: {{ fatigue }}%; background-color:{{ fatigue_color }}"></div>
            </div>
            <li>Intelligence: </li>
            <div class="progress">
              <div class="determinate" style="width: {{ intelligence }}%; background-color:{{ intelligence_color }}"></div>
            </div>
            <li>Happiness: </li>
            <div class="progress">
              <div class="determinate" style="width: {{ happiness }}%; background-color:{{ happiness_color }};"></div>
            </div>
            <li>Luck: </li>
            <div class="progress">
              <div class="determinate" style="width: {{ luck }}%; background-color:{{ luck_color }};"></div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <div class="box">
        <h3 style="text-align: center;">Inventory</h3>
        <center>
          <table style="text-align: center;">
            <tbody>
              <script type="text/javascript">
                var items = String("{{ items }}");
                if (items == "None") {
                  document.write("<br><br><h5>No items! Buy Some from the shop!</h5>");
                }
                else {
                  items = items.replace(/[\[\]']+/g, "");
                  document.write("<tr>");
                  var itemArray = items.split(",");
                  for (var i = 0; i < itemArray.length; i++) {
                    document.write("<td>")
                    itemArray[i] = itemArray[i].replace(/&#39;/g, "");
                    itemArray[i] = itemArray[i].replace(" ", "");
                    itemArray[i+2] = itemArray[i+2].replace(/&#39;/g, "");
                    itemArray[i+2] = itemArray[i+2].replace(" ", "");
                    document.write("<center>");
                    var toOutput = "<h5><strong>"
                    toOutput += itemArray[i];
                    toOutput += "</h5></strong><br><img src='/static/img/items/";
                    toOutput += itemArray[i];
                    toOutput += ".png' style='height:100px; width:100px;'><h5><strong># In Inventory: "
                    toOutput += itemArray[i + 1];
                    toOutput += "</strong></h5><h5><strong>";
                    toOutput += itemArray[i + 2];
                    toOutput += " +";
                    toOutput += itemArray[i + 3];
                    toOutput += "</strong></h5><button data-target='itemOptions' class='btn modal-trigger' id='modalOpen' name='";
                    toOutput += itemArray[i];
                    toOutput += "' value='"
                    toOutput += itemArray[i + 1];
                    toOutput += "'>Options</button>";
                    document.write(toOutput);
                    document.write("</td>");
                    i+=3;
                  }
                }
                document.write("</tr>");
              </script>
            </tbody>
          </table>
        </center>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>

  $(function(){
    var itemToActOn = {};
    $('button').click(function() {
        var check = this.id;
        if (check == "modalOpen") {
          itemToActOn = (this.name);
          document.getElementById("id_ItemName").value=itemToActOn;
          document.getElementById("item_name_label").innerHTML = itemToActOn;
      }
    });
  });

  </script>

  <!-- Item Options Modal -->
  <div id="itemOptions" class="modal">
    <div class="modal-content">
      <h3 class="center">Options!</h3>
      <h4 id="item_name_label" class="center">DEFAULT</h4>
      <p>
        <center>What do you want to do with your item?</center>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="hidden" id="id_ItemName" name="item_id" value="NULL" readonly>
          <button type="submit" id="submit_button" class="waves-effect waves-light btn">Confirm?</button>
        </form>
        <br>
        <button id="close" class="waves-effect waves-light btn modal-close">Nope! Go Back</button>
      </p>
    </div>
  </div>
{% endblock %}
