{% extends "generic_base.html" %} {% load static %}

{% block coins %}{{ coins }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s3">
      <div class="card grey lighten-3">
        <div class="card-content grey-text text-darken-4">
          <span class="card-title">Physical Statistics{{ inventory }}</span>
          <ul>
            <li>Health: </li>
            <div class="progress">
              <div class="determinate" style="width: {{ health }}%; background-color:{{ health_color }}"></div>
            </div>
            <li>Hunger: </li>
            <div class="progress">
              <div class="determinate" style="width: {{ hunger }}%; background-color:{{ hunger_color }}"></div>
            </div>
            <li>Defense: </li>
            <div class="progress">
              <div class="determinate" style="width: {{ defense }}%; background-color:{{ defense_color }};"></div>
            </div>
            <li>Battle XP: </li>
            <div class="progress">
              <div class="determinate" style="width: {{ battle_XP }}%; background-color:{{ battle_XP_color }};"></div>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s6">
      <center>
        <h1>{{ nugget }}</h1>
        <ul class="creatures" id="creatures">
          <li>
            <div class="click-anim">
              <figure class="{{ mouth }}" style="background-color: {{ color }}">
                <div class="eye"></div>
                <div class="eye"></div>
                <div class="mouth"></div>
              </figure>
            </div>
            <div class="shadow" style=""></div>
          </li>
        </ul>
        <h5><script id = "RanGreet">
          r_text = new Array ();
          r_text[0] = "I was thinking of you."
          r_text[1] = "I'm glad you're back."
          r_text[3] = "Let's battle!"
          r_text[4] = "Wheee! So happy to see youuuuuu!"
          var i = Math.floor((r_text.length) * Math.random());
          if(r_text[i] == null){
            document.write(r_text[0]);
          }
          else {
            document.write(r_text[i]);
          }
        </script></h5>
        <br />
      </center>
    </div>
    <div class="col s3">
      <div class="card grey lighten-3">
        <div class="card-content grey-text text-darken-4">
          <span class="card-title">Mental Statistics</span>
          <ul>
            <li>Fatigue: </li>
            <div class="progress">
              <div class="determinate" style="width: {{ fatigue }}%; background-color:{{ fatigue_color }}"></div>
            </div>
            <li>Intelligence: </li>
            <div class="progress">
              <div class="determinate" style="width: {{ intelligence }}%; background-color:{{ intelligence_color }}"></div>
            </div>
            <li>Happiness: </li>
            <div class="progress">
              <div class="determinate" style="width: {{ happiness }}%; background-color:{{ happiness_color }};"></div>
            </div>
            <li>Luck: </li>
            <div class="progress">
              <div class="determinate" style="width: {{ luck }}%; background-color:{{ luck_color }};"></div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <div class="box">
        <h5 style="text-align: center;">Inventory</h5>
        <center>
          <table style="text-align: center;">
            <tbody>
              <script type="text/javascript">
                var items = String("{{ items }}");
                items = items.replace(/[\[\]']+/g, "");
                document.write("<tr>");
                var itemArray = items.split(",");
                for (var i = 0; i < itemArray.length; i++) {
                  document.write("<td>")
                  itemArray[i] = itemArray[i].replace(/&#39;/g, "");
                  itemArray[i] = itemArray[i].replace(" ", "");
                  document.write("<center>");
                  var toOutput = "<h5><strong>"
                  toOutput += itemArray[i];
                  toOutput += "</h5></strong><br><img src='/static/img/food-vector/png/";
                  toOutput += itemArray[i];
                  toOutput += ".png' style='height:100px; width:100px;'><h5><strong>"
                  toOutput += itemArray[i + 1];
                  toOutput += "</strong></h5><button data-target='itemOptions' class='btn modal-trigger' id='modalOpen' name='";
                  toOutput += itemArray[i];
                  toOutput += "'>Options</button>";
                  document.write(toOutput);
                  document.write("</td>");
                  i++;
                }
                document.write("</tr>");
              </script>
            </tbody>
          </table>
        </center>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>

  $(function(){
    var itemToActOn = {};
    $('button').click(function() {
        itemToActOn = (this.name); // or alert($(this).attr('id'));
        console.log(itemToActOn);
        $('#id_ItemName').val(itemToActOn);
    });
  });

  </script>

  <!-- Item Options Modal -->
  <div id="itemOptions" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Options!</h4>
      <!-- <script type="text/javascript">
        document.write(itemToActOn);
        console.log(itemToActOn);
      </script> -->
      <p>
        Stuff
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="waves-effect waves-light btn" >Sign up</button>
        </form>
      </p>
    </div>
  </div>
{% endblock %}
