{% extends "generic_base.html" %} {% load static %}

{% block coins %}{{ coins }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s3 offset-s1">
      <div class="card grey lighten-3">
        <div class="card-content grey-text text-darken-4">
          <span class="card-title">Physical Statistics</span>
          <ul>
            <li>Health: <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="A Nugget with health less than 10 is unwell to battle. ">(?)</a></li>
            <div class="progress">
              <div class="determinate" style="width: {{ health }}%; background-color:{{ health_color }}"></div>
            </div>
            <li>Hunger: <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Hungry Nuggets do worse in battles. Feed your Nugget! ">(?)</a></li>
            <div class="progress">
              <div class="determinate" style="width: {{ hunger }}%; background-color:{{ hunger_color }}"></div>
            </div>
            <li>Defense: <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="More defense power means a better chance of survival!  ">(?)</a></li>
            <div class="progress">
              <div class="determinate" style="width: {{ defense }}%; background-color:{{ defense_color }};"></div>
            </div>
            <li>Battle XP: <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="You gain XP when you participate in battles. ">(?)</a></li>
            <div class="progress">
              <div class="determinate" style="width: {{ battle_XP }}%; background-color:{{ battle_XP_color }};"></div>
            </div>
            <br>
            <br>
            <br>
            <a href="#">Statistics FAQ</a>
            <br>
            <br>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s4">
      <center>
        <h2>{{ nugget }}</h2>
        <ul class="creatures" id="creatures">
          <li>
            <div class="click-anim">
              <figure class="{{ mouth }}" style="background-color: {{ color }}; width:{{ size_w }}px; height:{{ size_h }}px">
                <div class="eye" style="width:{{ eye_size_w }}px; height:{{ eye_size_h }}px"></div>
                <div class="eye" style="width:{{ eye_size_w }}px; height:{{ eye_size_h }}px"></div>
                <div class="mouth"></div>
              </figure>
            </div>
            <div class="shadow" style=""></div>
          </li>
        </ul>
        <span style="font-size:20px;">
        <script id = "RanGreet">
          r_text = new Array ();
          r_text[0] = "I was thinking of you."
          r_text[1] = "I'm glad that you're back."
          r_text[3] = "Now that you're here... let's battle!"
          r_text[4] = "Wheee! So happy to see you! Can we play?"
          var i = Math.floor((r_text.length) * Math.random());
          if(r_text[i] == null){
            document.write(r_text[0]);
          }
          else {
            document.write(r_text[i]);
          }
        </script>
      </span>

        <br />
      </center>
    </div>
    <div class="col s3">
      <div class="card grey lighten-3">
        <div class="card-content grey-text text-darken-4">
          <span class="card-title">Mental Statistics</span>
          <ul>
            <li>Fatigue: <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Tired Nuggets don't do well in a fight. ">(?)</a></li>
            <div class="progress">
              <div class="determinate" style="width: {{ fatigue }}%; background-color:{{ fatigue_color }}"></div>
            </div>
            <li>Intelligence: <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="A smarter Nugget gives you an upper hand in battle. ">(?)</a></li>
            <div class="progress">
              <div class="determinate" style="width: {{ intelligence }}%; background-color:{{ intelligence_color }}"></div>
            </div>
            <li>Happiness: <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Happy Nuggets are more willing to try hard in a fight than sad Nuggets. ">(?)</a></li>
            <div class="progress">
              <div class="determinate" style="width: {{ happiness }}%; background-color:{{ happiness_color }};"></div>
            </div>
            <li>Luck: <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Luck is just...well, luck!">(?)</a></li>
            <div class="progress">
              <div class="determinate" style="width: {{ luck }}%; background-color:{{ luck_color }};"></div>
            </div>
            <br>
            <br>
            <br>
            {{ message }}
            <br>
            <br>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s10 offset-s1">
      <div class="box">
        <h3 style="text-align: center;">Inventory</h3>
        <center>
          <table style="text-align: center;">
            <tbody>
              <script type="text/javascript">
                var items = String("{{ items }}");
                if (items == "None") {
                  document.write("<br><br><h5>No items! Buy Some from the shop!</h5>");
                }
                else {
                  items = items.replace(/[\[\]']+/g, "");
                  document.write("<tr>");
                  var itemArray = items.split(",");
                  for (var i = 0; i < itemArray.length; i++) {
                    document.write("<td>")
                    itemArray[i] = itemArray[i].replace(/&#39;/g, "");
                    itemArray[i] = itemArray[i].replace(" ", "");
                    itemArray[i+2] = itemArray[i+2].replace(/&#39;/g, "");
                    itemArray[i+2] = itemArray[i+2].replace(" ", "");
                    itemArray[i+4] = itemArray[i+4].replace(/&#39;/g, "");
                    itemArray[i+4] = itemArray[i+4].replace(" ", "");
                    //itemArray[i+6] = itemArray[i+6].replace(/&#64;/g, ",");
                    itemArray[i+6] = itemArray[i+6].replace(/&#39;/g, "");
                    //itemArray[i+6] = itemArray[i+6].replace(/&#34;/g, "");
                    document.write("<center>");
                    var toOutput = "<h5><strong>"
                    toOutput += itemArray[i];
                    toOutput += "</h5></strong><img src='/static/img/items/";
                    toOutput += itemArray[i];
                    toOutput += ".png' style='height:100px; width:100px;' data-delay='50' data-tooltip='";
                    toOutput += itemArray[i+6];
                    toOutput += "' class='tooltipped' data-position='top' ><br><strong>Quantity: </strong>";
                    toOutput += itemArray[i + 1];
                    toOutput += "<br><strong>";
                    toOutput += itemArray[i + 2];
                    toOutput += ":</strong> +";
                    toOutput += itemArray[i + 3];
                    toOutput += "</strong><br>";
                    if (itemArray[i + 4] != "None"){
                      toOutput += "<strong>";
                      toOutput += itemArray[i + 4];
                      toOutput += ":</strong> +";
                      toOutput += itemArray[i + 5];
                      toOutput += "</strong><br>";
                    }
                    toOutput += "<button data-target='itemOptions' class='btn modal-trigger' id='modalOpen' name='";
                    toOutput += itemArray[i];
                    toOutput += "' value='"
                    toOutput += itemArray[i + 1];
                    toOutput += "'>Options</button>";
                    document.write(toOutput);
                    document.write("</td>");
                    if ((i/6)%4 == 0 && i != 0){
                      document.write("</tr><tr>")
                    }
                    i+=6;
                  }
                }
                document.write("</tr>");
              </script>
            </tbody>
          </table>
        </center>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>

  $(function(){
    var itemToActOn = {};
    $('button').click(function() {
        var check = this.id;
        if (check == "modalOpen") {
          itemToActOn = (this.name);
          document.getElementById("id_ItemName").value=itemToActOn;
          document.getElementById("item_name_label").innerHTML = itemToActOn;
      }
    });
  });

  </script>

  <!-- Item Options Modal -->
  <div id="itemOptions" class="modal">
    <div class="modal-content">
      <h5 class="center">Options</h5>
      <h6 id="item_name_label" class="center">DEFAULT</h6>
      <p>
        <center>What do you want to do with your item?</center>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="hidden" id="id_ItemName" name="item_id" value="NULL" readonly>
          <button type="submit" id="submit_button" class="waves-effect waves-light btn">Confirm?</button>
        </form>
        <br>
        <button id="close" class="waves-effect waves-light btn modal-close">Nope! Go Back</button>
      </p>
    </div>
  </div>
{% endblock %}
